{
  "plugins": [
    "@semantic-release/changelog",
    ["@semantic-release/git", {
      "message": "chore(release): ${nextRelease.gitTag} [skip ci]\n\n${nextRelease.notes}",
      "assets": ["CHANGELOG.md", "package.json", "./packageC/package.json"]
    }]
  ]
}
